*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #fff;
}
section{
    width: 100%;
    position: relative;

}
.navbar{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2vw 6vw;
    background-color: #fff;
    z-index: 1000;
}
.logo{
    font-size:3vw ;
    color: #000;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.menuItems{
    display: flex;
    margin: auto 0 ;
}
.menuItems li{
    list-style-type: none;
    margin: 0 1.5vw;
}
.menuItems li a{
    display: block;
    color: #000;
    font-size: 1vw;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;

}
.menuItems li:hover a{
    color: rgb(160, 33, 143);
    border-bottom: 1px solid rgb(160, 33, 143);
}
.container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}
.text-container{
    width: 50%;
    padding-left: 5rem;
    padding-top: 5rem;
}
.text-container h2{
    font-size: 10vw;
    font-weight: 900;
    line-height: 10vw;
    text-transform: capitalize;
}
.text-container h2::first-line{
    color: #a54444;
    letter-spacing: 5px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.text-container h5{
    color: #000;
    font-size: 2vw;
    font-weight: 300;
    text-align: left;
    margin-top: 20px;
    margin-right: 10vw;
    text-transform: capitalize;
}
.text-container p{
    line-height: 1.5;
    font-size: 1vw;
    font-weight: 400;
    color: #000;
    margin-top: 30px;
}
.text-container .btn{
    display: inline-block;
    color: #222;
    background: #a54444;
    margin-top: 2vw;
    font-size: 1.5vw;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 6px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transform: 0.3s ease;
}
.text-container .btn:hover{
    letter-spacing: 3px;
    padding: 6px 18px;
}
.image-conatiner{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}
.image-box{
    position: relative;
    min-width: 70vh;
    margin-right: 10vw;
}
.image-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.icons{
    position: fixed;
    top: 50%;
    right: -15vw;
    transform: translateY(-50%);
    z-index: 1000;
}
.icons .fa{
    width:20vw;
    padding: 1vw;
    font-size: 2.5vw;
    background: #a54444;
    transition: 0.5s ease;
}
.icons .fa:hover{
    color: #fff;
    transform: translateX(-8vw);
}
.icons .fa span{
    position: relative;
    font-size: 1.8vw;
    bottom: 0.3vw;
    margin-left: 1.8vw;
}
input{
    display: none;
    visibility: hidden;
    --webkit-appearance: none;
}
.navbar label{
    display: none;
}
/* now I should make it responsive it */
@media screen and (max-width: 900px){
    body{
        overflow: auto;
    }
    .logo{
        font-size: 5vw;
    }
    .navbar label{
        display: block;
        color: #fff;
        font-size: 4vw;
        padding: 1vw 1.5vw;
        background: #000;
        z-index: 1000;
        cursor: pointer;
    }
    .menuItems{
        position: fixed;
        top: 0;
        right: -40vw;
        width: 40vw;
        height: 100%;
        background: #fff;
        padding-top: 15vw;
        padding-left: 5vw;
        display: flex;
        gap: 5em;
        flex-direction: column;
        transition: 0.3s ease;

    }
    .menuItems li a{
        color: #fd4a2b;
        font-size: 4vw;
        margin: 0.5vw 0;
    }
    #check:checked ~ section .navbar .menuItems{
        right: 0;
    }
    .container{
        flex-wrap: wrap;
    }
    .text-container{
        width: 100%;
        padding: 15vw 10vw;
        z-index: 100;
    }
    .text-container h2{
        font-size: 18vw;
        line-height: 18vw;
    }
    .text-container h5{
        font-size: 5vw;
    }
    .text-container p{
        font-size: 3vw;
    }
    .text-container .btn{
        margin-top: 2vw;
        font-size: 2.5vw;
    }
    .image-conatiner{
        width: 100%;
        height: 50rem;
       
        overflow: hidden;


    }
    .image-box{
        height: 800px;
        margin: 0;
    }
    .icons{
        position: fixed;
        z-index: 100;
    }
    .icons .fa{
        padding: 1.7vw;
    }
    ::-webkit-scrollbar{
        width: 12px;
    }
    ::-webkit-scrollbar-track{
        background-color: #fff;
    }
    ::-webkit-scrollbar-thumb{
        border-radius: 50px;
        background-color: #000;
    }
}

